.button {
    display: inline-block;
    position: relative;
    /* float: left; */
    margin: 0.2em; 
    padding: 0.2em 0.4em;
    background-color: white;
    border-radius: 5px;
}

.buttons {
    margin-top: 0.1em;
}